.section
  margin-bottom 8rem
  & + .pagination
    margin-top -4rem
  &_small-offset
    margin-bottom 9.6rem

.heading
  text-align center
  &_small
    h2, h3
      color $gray
      font-size 1.8rem
      font-weight 500
      letter-spacing 0

.date
  color $gray
  font-size 1.4rem