.apps
  display flex
  justify-content space-between
  // &__left
  //   width 32rem
  // &__right
  //   display grid
  //   grid-template-columns repeat(3, 1fr)
  //   justify-content space-between
  //   width 100%
  &__item
    width 100%
    &_left
      flex-shrink 0
      width 32rem
  &__line
    align-items center
    border-bottom $border
    display flex
    justify-content center
    min-height 6.4rem
    // padding-top 1em
  &__sign
    border-bottom $border
    display flex
    justify-content center
    margin-bottom 1rem
    padding-bottom 1em
    // text-align center