.apps
  padding-bottom 2.4rem
  &__body
    display flex
    justify-content space-between
  &__header
    border-bottom 1px solid $main
    display flex
    justify-content space-between
    padding-bottom 1.6rem
    .apps
      &__item
        &_left
          align-items flex-end
          display flex
  &__item
    width 100%
    &_left
      flex-shrink 0
      width 32rem
      .apps
        &__line
          justify-content flex-start
    &_highlight
      background-color $light-gray
      position relative
      &:before
        content ''
        background-color $light-gray
        height calc(100% + 4rem)
        position absolute
        left 0
        top -2rem
        width 100%
        z-index -1
  &__line
    align-items center
    display flex
    justify-content center
    min-height 6.4rem
    // padding-top 1em
    &:not(:last-child)
      border-bottom $border
  &__sign
    border-bottom $border
    display flex
    justify-content center
    margin-bottom 1rem
    padding-bottom 1em
  &__product
    &__top
      align-items center
      display flex
      flex-direction column
    &__left
      align-items center
      display flex
      flex-direction column
  &__mobile
    display none
    padding 1em 0
    &-text
      width 80%
    &-value
      width 20%
    &-container
      display flex
    .apps
      &__line
        border-bottom none
        line-height 1.2
        min-height 5.6rem
  &__name
    margin-bottom .5em
  &__price
    display flex
    font-size 4.8rem
    margin-bottom .1em
    span
      font-size 2rem
      transform translateY(.25em)
  .btn
    background-color #fff
    border 1px solid rgba($primary, .3)
    color $primary
    &:before
      background-color rgba($primary, .1)
  &__open
    border-radius 50%
    border $border
    display none
    position relative
    size(4rem)
    transition $transition
    &:before,
    &:after
      background-color $main
      center()
      content ''
      position absolute
      transition $transition
    &:before
      height 2px
      width 12px
    &:after
      height 12px
      width 2px
    &_active
      border-color #aaa
      &:before
        opacity 0
      &:after
        transform rotate(90deg)

@media(max-width 767px)
  .apps
    &__header
      border-bottom 0
      display block
      padding-bottom 0
      .apps__item.apps__item_left
        display none
    &__body
      display block
      .apps__item
        display none
    &__item
      margin-bottom 1.6rem
      &_left
        max-width 50%
        width initial
      &_highlight
        &:before
          display none
    &__product
      &__top
        border-bottom $border
        flex-direction initial
        justify-content space-between
      &__left
        display block
        min-width 12rem
    &__item_highlight
      background-color transparent
    &__open
      display block




