.effect
  display flex
  justify-content center
  margin-bottom 2.4rem
  position relative
  &__img
    display flex
    justify-content center
    overflow hidden
    position relative
    // max-width 144rem
    // width 100%
    img
      width 100%
  &__red
    background-color $primary
    center()
    opacity 0
  &__logo
    center()
    height 30rem