.prems
  padding-bottom 8rem
  .col
    &:nth-child(even)
      .prem
        transform translateY(8rem)
        // margin-top 8rem

.prem
  background-color $light-gray
  border-radius $radius
  padding 6.4rem
  padding-bottom 4rem
  &__img
    margin-bottom 2.4rem