.records
  &.wow
    .record
      opacity 0
      transform translateY(1rem)
  &.animated
    .record
      opacity 1
      transform none


.record
  // border-top $border
  display flex
  font-weight 500
  justify-content space-between
  // opacity 0
  padding 1em 0
  transition $transition
  // transform translateY(1rem)
  for num in 2..10
    &:nth-child({num})
      transition-delay ((num - 1) / 14) s
  &:not(:last-child)
    border-bottom $border
  &__left
    display flex
  &__name
    min-width 32rem
  &__right
    display flex
  &__number
    margin-right .5em
    width 1rem
  &__date
    color $gray
    margin-right 3em
    text-align right
  &__time
    color $green
    font-weight 700
    min-width 5.6rem
    text-align right




@media(max-width 767px)
  .records
    .record
      font-size 1.4rem
      &__left
        display block
      &__number
        display none
      &__name
        flex-shrink 0
        min-width initial
        margin-bottom .25em
      &__track
        color $gray
      &__right
        flex-direction column
      &__date
        font-size 1.2rem
        margin-right 0
      &__time
        order -1
        margin-bottom .25em














