extends layout.pug

block content
  
  section.hero.section
    .hero__img-container
      .hero__img.wow
        +webp('hero', 'jpg')
    .hero__align
      .hero__container.wrapper.wow
        .hero__text-width
          .label Приложение DrivExpert 
          h1.hero__title.blast-text.wow Инструктор в вашем смартфоне
          p.hero__subtitle Обучающие материалы по основам спортивного пилотирования, гиды по гоночным трассам, подсказки во время заезда, анализ ошибок и оценка уровня вождения
          .downloads
            a(href="").download
              img(src="./img/download-google.svg", alt="")
            //- a(href="").download
              img(src="./img/download-apple.svg", alt="")
          .hero__phones.wow
            .hero__phone
              +webp('phone-1', 'png')
            .hero__phone
              +webp('phone-2', 'png')

 
  .wrapper
    section.section#prems
      .heading.heading_small
        h2 Преимущества
      .container.prems
        - for (var i = 1; i < 7; i++)
          .col.col--sm-6.wow.fade-up
            a(href="#prem").prem.modal-open
              .prem__img
                +webp('prem-1', 'png')
              h3.prem__title Обучающие материалы по основам пилотирования
              p Обучающие материалы по основам спортивного пилотирования, гиды по гоночным трассам, подсказки во время заезда, анализ ошибок и оценка уровня вождения
              .prem__icon
                img(src="./img/prem-icon-" + i + ".svg", alt="")


  .effect
    .effect__img
      //- img(src="./img/effect.jpg", alt="")
      img(src="./img/effect-2.jpg", alt="")
      .effect__red
    img(src="./img/effect-logo.svg", alt="").effect__logo


  .wrapper
    section.section.apps-section#buy
      .heading
        h2 Версии Drive Expert
      .tabs
        .tabs__header
          .tabs__links
            .tabs__link Android
            .tabs__link iOs

      .apps
        .apps__header
          .apps__item.apps__item_left Функционал
          .apps__item
            .apps__product
              .apps__name Lap Timer
              .apps__price
                span $
                | 5
              .apps__button
                .btn
                  .btn__text Купить
          .apps__item.apps__item_highlight
            .apps__product
              .apps__name Lite
              .apps__price
                span $
                | 20
              .apps__button
                .btn
                  .btn__text Купить
          .apps__item
            .apps__product
              .apps__name Pro
              .apps__price
                span $
                | 200
              .apps__button
                .btn
                  .btn__text Купить
        .apps__body
          .apps__item.apps__item_left
            .apps__line Время прохождения круга с секторами и оптимальный круг
            .apps__line Библиотека треков >2000 готовых гоночных трасс по всему миру
            .apps__line Пользовательские пользовательские схемы и двухточечные дорожки
            .apps__line Советы и консультации в реальном времени во время прохождения трассы
            .apps__line Прогнозируемый временной круг и дельта-график времени
            .apps__line Аппаратный ускоренный экспорт видео с настраиваемым наложением данных
            .apps__line Запись с нескольких камер и экспорт видео в картинке
            .apps__line Запись видео с использованием внутренней камеры
            .apps__line Дистанционное управление экшн-камерами GoPro® HERO

          .apps__item
            - for (var i = 0; i < 9; i++)
              .apps__line: img(src="./img/apps-check.svg")

          .apps__item.apps__item_highlight
            - for (var i = 0; i < 9; i++)
              .apps__line: img(src="./img/apps-check.svg")

          .apps__item
            - for (var i = 0; i < 9; i++)
              .apps__line: img(src="./img/apps-check.svg")

        //- br
        //- .apps__hidden
        //- .apps__more more


  section.tracks.section
    .track
      .track__img
        +webp('nurburgring', 'jpg')
      .track__align
        .wrapper.track__container
          .track__top Доступные трассы
          .track__center
            .track__title.blast-text.wow Nürburgring
            .track__subtitle Нюрбургринг
          .track__bottom 53520 Nürburg, <br>Германия
    //- .track
    //-   .track__img
    //-     +webp('nurburgring', 'jpg')
    //-   .track__align
    //-     .wrapper.track__container
    //-       .track__top Доступные трассы
    //-       .track__center
    //-         .track__title Nürburgring
    //-         .track__subtitle Нюрбургринг
    //-       .track__bottom 53520 Nürburg, <br>Германия

  .wrapper
    section.section#records
      .heading
        h2 Приложение выставляет оценку после завершения круга
        p Учитывается не только скорость прохождения, но и безопасность и стиль вождения. Лучшие результаты попадают в таблицу рекордов и отображаются на сайте. А вы сможете обогнать Дениса?
      .records.wow
        - for (var i = 0; i < 10; i++)
          .record
            .record__left
              .record__number= i + 1
              .record__name Денис Малеваный
              .record__track Nürburgring
            .record__right
              .record__date 02.05.2020
              .record__time(data-number="6:" + i * 2 + ":97") 6:44:97
      
      .more-container
        //- a(href="#records").more
        //-   .more__icon
        //-     img(src="./img/more.svg", alt="").svg
        //-   .more__text Все результаты
        a(href="#records").more
          .more__icon
            //- img(src="./img/more.svg", alt="").svg
            svg( width="40" height="40" fill="none")
              circle(opacity="0.3" cx="20" cy="20" r="19.5" stroke="#E61830")
              circle#more-circle(cx="20" cy="20" r="19.5" stroke="#E61830")
          .more__text Все результаты


    section.section
      .heading
        h2 Приложения от гонщиков для гонщиков
        p Мы знаем толк в гонках. Для нас было целью создать приложение которое было бы полезно фанатам гонок. Для таких же как мы.
      
      .slider.slider-persons
        .swiper-container.wow
          .swiper-wrapper
            - for (var b = 0; b < 4; b++)
              .swiper-slide
                a(href="#person").person.modal-open
                  .person__img
                    img(src="./img/denis.png", alt="")
                  .person__name Денис Малеваный
                  .person__status Руководство проекта и техническая реализация
          .swiper-button-prev
            img(src="./img/arrow-left.svg", alt="")
          .swiper-button-next
            img(src="./img/arrow-right.svg", alt="")
          .swiper-pagination


    section.section
      .heading.heading_small
        h2 Новости
      .news.wow
        a(href="#news").new.modal-open
          .new__left
            .new__title Обновлённая версия приложения 1.0.1 для Android
            time.date.new__date 02.05.2020
          .new__right
            .new__os
              img(src="./img/android.svg", alt="")
        a(href="").new
          .new__left
            .new__title Обновлённая версия приложения 1.0.1 для Android
            time.date.new__date 02.05.2020
          .new__right
            .new__os
              img(src="./img/apple.svg", alt="")
        a(href="").new
          .new__left
            .new__title Обновлённая версия приложения 1.0.1 для Android
            time.date.new__date 02.05.2020
          .new__right
            .new__os
              img(src="./img/android.svg", alt="")


  .modal(id="news")
    .modal__body
      .modal__left
        .modal__title Обновление приложения v6.3.4 для Android
        .date 02.05.2020
        hr
        strong Change log for RaceChrono v6.3.4 for Android (14.4.2020):
        ul
          li Fixed: Location permission was not properly requested when adding a Bluetooth device
          li Fixed: Broken GoPro discovery
          li Urgent fix: Analysis and devices packs were not properly issued with Pro upgrade (bug introduced in v6.3.1)
        +webp('screenshot', 'jpg')
        strong Change log for RaceChrono v6.3.3 for Android (10.4.2020):
        p • List of paired devices will be displayed when adding a new Bluetooth device. Searching devices in range is now an option. • Added new settings “Auto-detect my tracks only” and “Auto-detect again if finished”. The latter one should be useful for rally events with multiple different special stages. • Added new setting “Split video files”. If disabled the video will be recorded to one large file. • Improved: DIY CAN-Bus API now allows payload length up-to 16 bytes • Improved: Expert setting “GPS week rollover compensation” now also affects the built-in GPS • Fixed: A notification is now displayed, if location is disabled and it is needed for searching or connecting devices • Fixed: Channel postfix field was not displayed in CAN-Bus channel editor 


  .modal(id="prem")
    .modal__body
      .modal__left
        .modal__title Подробнее о преимуществе
        .date 02.05.2020
        hr
        strong Change log for RaceChrono v6.3.4 for Android (14.4.2020):
        +webp('screenshot', 'jpg')
        strong Change log for RaceChrono v6.3.3 for Android (10.4.2020):
        p • List of paired devices will be displayed when adding a new Bluetooth device. Searching devices in range is now an option. • Added new settings “Auto-detect my tracks only” and “Auto-detect again if finished”. The latter one should be useful for rally events with multiple different special stages. • Added new setting “Split video files”. If disabled the video will be recorded to one large file. • Improved: DIY CAN-Bus API now allows payload length up-to 16 bytes • Improved: Expert setting “GPS week rollover compensation” now also affects the built-in GPS • Fixed: A notification is now displayed, if location is disabled and it is needed for searching or connecting devices • Fixed: Channel postfix field was not displayed in CAN-Bus channel editor 

  .modal(id="person").modal_person
    .modal__body
      .modal__left
        .modal__title Денис Малеваный
        .date Руководство проекта и техническая реализация
        hr
        p Инструктор трассы Nurburgring Nordschleife
        p Обладатель международной гоночной лицензии FIA
        img(src="./img/trophy.svg", alt="").modal__icon
        p Призёр этапов чемпионата Германии VLN
        //- p Чемпион США в шоссейно-кольцевых гонках на время Time Attack
        p Победитель гонки Porsche Sport Challenge

      .modal__right
        .modal__right-img
          +webp('denis-modal', 'jpg')

