.modal
  animation bigFadeUp .5s forwards ease
  background #fff
  box-shadow 0 1rem 2rem rgba($main, .1)
  display none
  margin 0 auto
  max-width 122rem
  overflow initial
  padding 0
  position relative
  width 90%
  &__body
    display flex
    justify-content space-between
  &__left
    margin-right 8rem
    padding 8rem
    img
      margin-bottom 2em
    .modal
      &__icon
        margin-bottom 1rem
        margin-left -6px
  &__title
    font-size 3.2rem
    font-weight 700
    margin-bottom .5em
  &__right
    &-img
      height 100%
      img
        height 100%
        object-fit cover
        width 100%


.fancybox-can-swipe .fancybox-content, .fancybox-can-pan .fancybox-content
  cursor initial

.fancybox-button.fancybox-close-small
  // margin-right -1.6rem
  margin-right -3.2rem
  margin-top -4.4rem

.fancybox-close-small
  color #fff !important


@media(max-width 1200px)
  .fancybox-button.fancybox-close-small
    margin-right -1.6rem
  .modal
    margin-bottom 8rem
    top 4rem
    width 95%
    &__left
      padding 4rem


@media(max-width 1000px)
  .modal
    // width 96%
    &__left
      padding 2.4rem
      margin-right 0


@media(max-width 767px)
  .modal
    &_person
      .modal
        &__body
          flex-direction column
        &__right
          order -1
          &-img
            height 32rem



// @media(max-width 767px)
//   .modal
//     margin-bottom 8rem
//     top 3.2rem
//     &__body
//       display block
//     &__left
//       width 100%
//     &__right
//       width 100%
//     &__title
//       font-size 2.4rem







